/dist
/lib
/node_modules
/.idea
.DS_Store
bundle.js
npm-debug.log
config/infrastructure/*/.terraform/*
*.tfstate
*.tfstate.backup
coverage
**/unencrypted/**
*.secret
codeship.aes
.npmrc
.env.standalone
yarn-error.log
CertificateAuthorityCertificate.pem
